# Packer
packer_cache/
output-virtualbox-iso/

# The boxes/ directory is for outputs.
# Ignore everything apart from README.md.
boxes/*
!boxes/README.md

# We don't want the actual ISO images in version control.
iso/*.iso
