# Packer Cache.
packer_cache/

# The boxes/ directory is for outputs.
# Ignore everything apart from README.md.
boxes/*
!boxes/README.md

# We don't want the actual ISO images in version control.
isos/*.iso
